<template name="ViewCommunity" class="ui padded">
    <div class="view-community ui basic segment">
        <h2 class="ui header">
            <img class="ui mini image" src="/communities_logo/{{picture}}">
            <div class="content">{{name}}</div>
            <div class="sub header"><a href="http://{{url}}" target="_blank" >{{url}}</a></div>
        </h2>
        
        {{#unless currentUser}}
            <i>You need to be logged to register in this community</i>
        {{else}}
            {{#if isPlayerInCommunity}}
                <i>You are part of this community.</i> <a href="#" class="quitCommunityBtn" >quit?</a>
            {{else }}
                <button class="joinCommunityBtn" >join {{name}} community</button>
            {{/if}} 
        {{/unless}}
        

        <br />
        Players in this community:
        
        <table class="ui single line table">
        <thead>
            <tr>
                <th class="">Refresh</th>
                <th class="">{{name}}</th>
                <th class="sorted ascending descending">Summoner</th>
                <th class=""></th>
                <th class="">Rank</th>
                <th class="">W/L</th>
                <th class="">Server</th>
            </tr>
        </thead>
        <tbody>
            {{#each users}}
                {{#if isCurrentUser _id }}
                    {{> row profile=profile summonerId=profile.summonerId currentUser=true userId=_id}}
                {{else }}
                    {{> row profile=profile summonerId=profile.summonerId userId=_id }}
                {{/if}}
            {{/each}}
        </tbody>    
        </table>
    </div>
    <br />
</template>

<template name="row">
                <tr>
                    <td><i class="refresh icon"></i></td>
                    <td>{{profile.communityName}} {{userId}}</td>
                    <td><a href={{ opggUrlProfil profile.server profile.summonerName}} >{{profile.summonerName}} </a> - {{profile.summonerId}}</td>
                    <td><img class="ui mini image" src={{ tierPicture profile.soloQ.tier}} /></td>
                    {{#if profile.soloQ.tier}}
                        <td class="ui center">{{ tierClean profile.soloQ.tier}} {{profile.soloQ.division}}, {{profile.soloQ.leaguePoints}} LP <br />  {{profile.soloQ.name}}</td>
                        <td><span class="ui blue header">{{profile.soloQ.wins}}</span> / <span class="ui red header">{{profile.soloQ.losses}}</span></td>
                    {{else }}
                        <td class="ui center">Unranked</td>
                        <td></td>
                    {{/if}}
                    <td>{{profile.server}}</td>
                </tr>
</template>