<template name="Register">
  
  
  
<div class="ui middle aligned center aligned grid">
  <div class="four wide column">
    <h2 class="ui teal image header">
      <div class="content">
        Register
      </div>
    </h2>
    <form class="ui large form">
      <div class="ui stacked segment">
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input type="text" name="email" placeholder="E-mail address">
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password" name="password" placeholder="Password">
          </div>
        </div>
        
        <div class="field">
          <select class="ui fluid dropdown" id="server" name="server">
            <option value="">Server</option>
            <option value="EUW">EUW</option>
            <option value="NA">NA</option>
            <option value="KR">KR</option>
          </select>
        </div> 
        
        <div class="field">
          <div class="ui input">
            <input type="text" id="sumName" name="sumName" placeholder="Summoner name">
          </div>
        </div>
        
        <div class="field">
          <div class="ui input">
            <input type="text" name="comName" placeholder="Community name">
          </div>
        </div>
        
        <input type="hidden" id="sumId" name="sumId" value="">

        <input type="submit" class="ui fluid large teal submit button" value="Register">

      </div>

      <div class="ui error message"></div>

    </form>

    <div class="ui message">
      Already register?<a href="#">Log In</a>
    </div>
  </div>
</div>

</template>
