<template name="MasterLayout">

  <div class="ui inverted vertical masthead center aligned segment">

    <div class="ui container">
      <div class="ui large secondary inverted pointing menu">
        {{#linkTo route="home"}}<div class="active item">lolCommuDynaQ</div>{{/linkTo}}
        <!-- {{#linkTo route="listCommunities" class="item" }}Communities{{/linkTo}} -->
          {{> LoginElement}}
       
      </div>
    </div>
  </div>
  {{> sAlert}}

<div class="ui center padded container" style="min-height:800px; margin-top:15px;">
    {{> yield}}
</div>

  
  <div class="ui inverted vertical footer segment">
    <div class="ui container">
      <div class="ui stackable inverted divided equal height stackable grid">
        <div class="three wide column">
          <h4 class="ui inverted header">About</h4>
          <div class="ui inverted link list">
            <a href="mailto:fsaulier@gmail.com" class="item">Contact Us</a>
          </div>
        </div>
        <div class="three wide column">
          <h4 class="ui inverted header">Build with</h4>
          <div class="ui inverted link list">
            <a href="https://www.meteor.com/" target="_blank" class="item">meteor.js</a>
            <a href="http://semantic-ui.com/" target="_blank" class="item">semantic ui</a>
            <a href="https://www.heroku.com/" target="_blank" class="item">heroku</a>
            <a href="https://c9.io/" target="_blank" class="item">cloud9</a>
          </div>
        </div>
        <div class="seven wide column">
          <h4 class="ui inverted header">League of Legends communities</h4>
          <p>Join your community friends on Lol</p>
        </div>
      </div>
    </div>
  </div>
</template>
